name: Update flake.lock

on:
  schedule:
    - cron: "0 14 1 * *"   # 1st of every month
  workflow_dispatch: {}

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@v12
      # - uses: DeterminateSystems/magic-nix-cache-action@v7

      # Turn off FlakeHub usage and keep using GitHub cache only
      - uses: DeterminateSystems/magic-nix-cache-action@v7
        with:
          use-flakehub: false
          # use-gha-cache: false  # if cache upload is slow, can also disable GitHub caching
          # optional: disables telemetry/diagnostics
          diagnostic-endpoint: ""

      - name: Update nixpkgs only
        run: nix flake lock --update-input nixpkgs

      - name: Build home configuration
        run: nix build .#homeConfigurations.default.activationPackage -L

      - name: Create PR
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "chore: update flake.lock (nixpkgs)"
          title: "Update flake.lock (nixpkgs)"
          branch: "bot/update-locks"
          delete-branch: true